*{
    font-family: 'Inter-Medium','Helvetica','san-serif'
}

/* UTILITY CLASS */
.d_flex{
    display: flex;
}
.grigino{
    background-color: #f3f5f9;
}

/* HEADER */

/* nav header */
.nav_header{
    padding: 20px 0;
    align-items: center;
}

.nav_header > div > img{
    height: 30px;
}

.nav_header > div > a{
    text-decoration: none;
    color: #031c4e;
    margin-right: 10px;
}

.btn_vuoto{
    border: 1px solid #006aff;
    color: #006aff;
    border-radius: 0.3rem;
    padding: 10px;
}
.btn_vuoto:hover{
    background-color: #006aff;
    color: white;
    cursor: pointer;
}

.menu_header{
    display: none;
    text-align: right;
    width: 100%;
    color: #579aff;
    font-size: 20px;
}

/* blu header */
.blu_header{
    background-image: url("/img/bg-banner-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px 0;
}

.blu_header h1{
    color: white;
    font-size: 65px;
}

.blu_header > div > div.col-lg-7 p{
    color: #bbcdff;
    font-size: 25px;
    margin-top: 20px;
    line-height: 35px;
}

.blu_header > div > div.col-lg-7{
    padding-right: 40px;
}

.blu_header > div > div.col-lg-5{
    background-color: white;
    border-radius: 0.3rem;
    text-align: center;
    padding: 40px 20px;
}

.blu_header > div > div.col-lg-5 > p:first-child{
    color: #031c4e;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.blu_header > div > div.col-lg-5 > p:nth-child(2){
    color: #006aff;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.blu_header > div > div.col-lg-5 > input{
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    border-radius: 0.3rem;
    border: 1px solid #eeeeee;
}

.account_c{
    background-color: #579aff;
    border-radius: 0.3rem;
    color: white; 
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    margin-bottom: 10px;
}

.google_s{
    color: #626262;
    font-weight: 600;
    border-radius: 0.3rem;    
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 1px 1px #eeeeee;
    position: relative;
}

.google_s > img{
    height: 20px;
    position: absolute;
    left: 15px;
}

.blu_header > div > div.col-lg-5 > :last-child{
    font-size: 15px;
    padding-top: 10px;
}

/* media query header */
@media screen and (min-width: 768px) and (max-width: 991px){
    .container{
        width: 95%;
        margin: auto;
    }
    .blu_header h1{
        font-size: 55px;
    }
    .blu_header > div > div.col-lg-7 p{
        font-size: 20px;
        line-height: 30px;
    }
    .blu_header > div > div.col-lg-5 > :last-child{
        font-size: 12px;
    }
    .nav_header > div.col-lg-6, .nav_header > div.col-lg-3:last-child{
        display: none;
    }
    .menu_header{
        display: block;
    }
}

@media screen and (max-width: 767px){
    .container{
        width: 95%;
        margin: auto;
    }
    .blu_header h1{
        font-size: 55px;
    }
    .blu_header > div > div.col-lg-7 p{
        font-size: 20px;
        line-height: 30px;
    }
    .blu_header > div > div.col-lg-5 > :last-child{
        font-size: 12px;
    }
    .nav_header > div.col-lg-6, .nav_header > div.col-lg-3:last-child{
        display: none;
    }
    .menu_header{
        display: block;
    }
    .col-lg-5.col-md-5.col-xs-12{
        margin-top: 10px;
    }
}

/* MAIN */

/* scritte e loghi vari */
.scritte_loghi{
    text-align: center;
    padding: 50px 0;
}

.loghi{
    justify-content: space-around;
    padding: 30px 0;
}

.loghi > img{
    height: 90px;
}






/* FOOTER */